<html>
<head>
<meta charset="UTF-8"/>
<link rel="sylesheet" type="text/css" href="styleindex.css"/>
<h1>Apps4Society</h1>
</head>
<body>
	<div class="url">
		<h3>URL's Montadas!</h3>
		<ol>
		<li>Municipios</li>
		<li>Usuários</li>
		<li>Atrativos Turisticos</li>
		</ol>
	</div>
	<div>
	<p><i><b>Urls para Municipios:</b></i></p>
		<ul>
		<li>Listar todos: /municipios </li>
		<li>Procurar Municipio pelo ID: /municipioSearch/{id} </li>
		<li>Deletar municipio pelo ID: /municipiodel/{id} </li>
		</ul>
	</div>
	<div>
	<p><i><b>Urls para Usuários:</b></i></p>
	<ul>
	<li>Listar todos: /users</li>
	<li>Procurar usuario pelo ID: /user/{id} </li>
	<li>Deletar usuario pelo ID: /userdel/{id} </li>
	</ul>
	</div>
	<div>
	<p><i><b>Urls para Atrativos Turisticos:</b></i></p>
	<ul>
	<li> Listar todos: /atrativosTuristicos</li>
	<li>Procurar atrativo pelo ID: /atrativoTuristicoSearch/{id} </li>
	<li>Deletar atrativo Turistico pelo ID: /atrativoTuristicodel/{id} </li>
	
	</ul>
	</div>
</body>
</html>