
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   <meta charset="utf-8">
   <title>Bem vindo Administrador</title>
   <link rel="stylesheet" type="text/css" href="mycss/style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
   <header>
      <div class="logo-foto-professor">
         <img src="imagens/logoof.png" alt="Foto do Usuario">
         <ul>
            <li>Opções</li>
         </ul>
      </div> <!--Final logo-->
   </header>
   <nav class="menu-professor">
      <div class="menu-lateral-professor">
         <a href="/listUsers"> <div class="link-professor"> Usuários</div></a>
         <a href=""> <div class="link-professor">Atrativos Turisticos</div></a>
         <a href=""> <div class="link-professor">Municipios</div></a>
         <a href=""> <div class="link-professor">Area Municipio</div></a>
         <a href="/swagger-ui.html#/"> <div class="link-professor">Swagger</div></a>
         <a href="/logout"> <div class="link-professor">Sair</div></a>
        
      </div>
   </nav>
</body>
</html>