 #form-container {
     width: 100vw;
     height: 100vh;
     background: #6C7A89;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center
}

#form-box {
     width: 400px;
     padding: 20px;
     box-sizing: border-box;
}
#form-box input {
     font-size: large;
}