<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body >
		<div class="grid-container">
			<header class="content-item">
					<nav>
						<div class="new-wrapper">
								<h1><a href ="/" class="brand-logo">   SisTur Cadastro</a></h1>
						</div>
						<div>
							<!--JavaScript at end of body for optimized loading-->
					      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
						</div>
					</nav>
			</header>
			<section class="content-item">
				<form class="container" method="post">
						Nome: <input type="text" value="" name="nome"/>
						Email: <input type="email" value="" name="email">
						Login: <input type="text" value="" name="login"/>
						Senha: <input type="password" value="" name="pass">
					<button type="submit" class="waves-effect waves-light btn">Cadastrar!</button>
				</form>	
			</section>
		</div>
	
</body>
</html>